[submodule "src/catkin_simple"]
	path = src/catkin_simple
	url = https://github.com/catkin/catkin_simple.git
[submodule "src/mav_comm"]
	path = src/mav_comm
	url = https://github.com/ethz-asl/mav_comm.git
[submodule "src/eigen_catkin"]
	path = src/eigen_catkin
	url = https://github.com/ethz-asl/eigen_catkin.git
[submodule "src/rotors_simulator"]
	path = src/rotors_simulator
	url = git@github.com:AndruGomes13/rotors_simulator.git
	branch = master
[submodule "src/rpg/agilicious_internal"]
	path = src/rpg/agilicious_internal
	url = git@github.com:AndruGomes13/agilicious_internal_mine.git
	branch = main
[submodule "src/motion_capture_ros/external/libmotioncapture"]
	path = src/motion_capture_ros/external/libmotioncapture
	url = git@github.com:AndruGomes13/libmotioncapture.git
	branch = main
